<h1 class="text-primary">Chat Rooms:</h1><button ng-click="logout()" class="btn btn-primary btn-logout">Log out</button>
<div class="rooms">
	<div class="row">
		<div class="col-md-4"><a href="#/room/anime" class="btn btn-default btn-lg">Anime</a></div>
		<div class="col-md-4"><a href="#/room/tvseries" class="btn btn-default btn-lg">Series</a></div>
		<div class="col-md-4"><a href="#/room/developers" class="btn btn-default btn-lg">Developers</a></div>
		<div class="col-md-4"><a href="#/room/technology" class="btn btn-default btn-lg">Tecnologia</a></div>
		<div class="col-md-4"><a href="#/room/sports" class="btn btn-default btn-lg">Deportes</a></div>
		<div class="col-md-4"><a href="#/room/any" class="btn btn-default btn-lg">Anything</a></div>
	</div>
</div>
